In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('reviews.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df1.head()

,_id,old_id,product_id,rating,summary,body,recommend,reported,reviewer_name,reviewer_email,response,helpfulness,createdAt
0,5f160faa933bf6ba19c590fb,5,2,3,I'm enjoying wearing these shades,Comfortable and practical.,true,false,shortandsweeet,first.last@gmail.com,NaN,5,2019-04-14
1,5f160faa933bf6ba19c590fc,13,7,5,Ye is good at everything,I mortgaged my house to pay for these,true,false,yecrazy,first.last@gmail.com,NaN,2,2018-12-13
2,5f160faa933bf6ba19c590fd,1,1,5,This product was great!,I really did or did not like this product base...,true,false,funtime,first.last@gmail.com,NaN,8,2019-01-01
3,5f160faa933bf6ba19c590fe,14,7,1,I don't like Kanye,I didn't buy the shoes but I don't like the ma...,false,true,taylor,first.last@gmail.com,NaN,0,2018-11-11
4,5f160faa933bf6ba19c590ff,15,12,5,Sed repellat quo recusandae.,Vitae reiciendis aspernatur voluptatem labore ...,1,0,Pink.Purdy25,Donny.Jacobson11@yahoo.com,NaN,11,2019-04-11

In [4]:
df1 = df1.rename(columns={"old_id":"id"})
df1.head()

,_id,id,product_id,rating,summary,body,recommend,reported,reviewer_name,reviewer_email,response,helpfulness,createdAt
0,5f160faa933bf6ba19c590fb,5,2,3,I'm enjoying wearing these shades,Comfortable and practical.,true,false,shortandsweeet,first.last@gmail.com,NaN,5,2019-04-14
1,5f160faa933bf6ba19c590fc,13,7,5,Ye is good at everything,I mortgaged my house to pay for these,true,false,yecrazy,first.last@gmail.com,NaN,2,2018-12-13
2,5f160faa933bf6ba19c590fd,1,1,5,This product was great!,I really did or did not like this product base...,true,false,funtime,first.last@gmail.com,NaN,8,2019-01-01
3,5f160faa933bf6ba19c590fe,14,7,1,I don't like Kanye,I didn't buy the shoes but I don't like the ma...,false,true,taylor,first.last@gmail.com,NaN,0,2018-11-11
4,5f160faa933bf6ba19c590ff,15,12,5,Sed repellat quo recusandae.,Vitae reiciendis aspernatur voluptatem labore ...,1,0,Pink.Purdy25,Donny.Jacobson11@yahoo.com,NaN,11,2019-04-11

In [5]:
df1.to_csv("reviews.csv", index=False)